* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
}

#test-grid-container {
    padding: 5% 3%;
}

#test-1 {
    background-color: #7541c8;
    color: #ffffff;
    position: relative;
    z-index: 0;
}

#test-2 {
    background-color: #48556a;
    color: #ffffff;
}

#test-3, #test-5 {
    background-color: #ffffff;
    color: #48556a;
}

#test-4 {
    background-color: #19212e;
    color: #ffffff;
}

.grid-item {
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgba (0,0,0,0.2);
    font-size: 13px;
}

.grid-item p {
    opacity: 70%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
}

.header p {
    opacity: 50%;
}

.header .name {
    opacity: 100%;
    font-size: 0.95rem;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #7541c8;
}

.grid-item h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

#quote {
    position: absolute;
    right: 20%;
    top: 0px;
    z-index: 1;
}

@media (min-width: 576px) {
    
    #test-grid-container, 
    #main-left,
    #top,
    #bottom {
        display: flex;
    }

  #test-grid-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  #test-5 {
    flex-basis: 25%;
  }

  #main-left {
    flex-direction: column;
    flex-basis: 73%;
  }

  #top, #bottom {
    flex-basis: 50%;
  }

  #test-1, #test-4 {
    flex-basis: 66%;
  }

  #test-2, #test-3 {
    flex-basis: 34%;
  }

  #main-left .grid-item {
    margin-right: 15px;
  }
}